html, body{
	width:100%;
}
body {
	margin: 0px;
	background-color: #000;
	font-family: Helvetica Neue, Helvetica;
	color: #fff;
}
body a {
	color: #ffa500;
	text-decoration: none;
}
body a:hover {
	color: #ffd700;
}
body .content {
	background: url("me2.png") no-repeat top right;
	height: 1000px;
	margin: 0 0 0 auto;
	padding-left: 50px;
}
body .content h1 {
	font-weight: normal;
	padding: 15px 0px 15px;
	margin: 0px;
	font-size: 95px;
}
body .content p {
	font-size: 17px;
	margin: 5px 5px 10px 10px;
	padding: 0px;
}

