body {
	margin: 0px;
	background-color: #000;
	font-family: Helvetica Neue, Helvetica;
	color: #fff;
}
body a {
	color: #ffa500;
	text-decoration: none;
}
body a:hover {
	color: #ffd700;
}
body .content {
	background: url("me.png") no-repeat top right;
	height: 1398px;
	width: 1600px;
	margin: 0 0 0 auto;
	padding-left: 50px;
}
body .content h1 {
	font-weight: normal;
	padding: 25px 0 0;
	margin: 0px;
	font-size: 95px;
}
body .content p {
	font-size: 17px;
	margin: 5px 0 10px 10px;
	padding: 0px;
}

